// Fonte family sans serif - Chakra petch
@font-face {
    font-family: "Chakra petch regular";
    src: url("/src/assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf");
}
@font-face {
    font-family: "Chakra petch semiBold";
    src: url("/src/assets/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf");
}
@font-face {
    font-family: "Chakra petch bold";
    src: url("/src/assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf");
}


// Fonte family display - Rick and morty
@font-face {
    font-family: "Rick and morty";
    src: url("/src/assets/fonts/Rick_and_morty/fonte--Rick-and-mofrty.ttf");
}